backcall==0.1.0
configparser==3.7.1
cycler==0.10.0
decorator==4.3.2
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10.1
kiwisolver==1.0.1
lxml==4.3.0
MarkupSafe==1.1.1
matplotlib==3.0.2
numpy==1.16.1
parso==0.3.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.8
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
python-pptx==0.6.17
six==1.12.0
traitlets==4.3.2
wcwidth==0.1.7
XlsxWriter==1.1.2
