<!DOCTYPE html>
<html lang="de">
<head>
	<title>Story Id#{{ story.id }}</title>
	<meta charset="utf-8"/>
	<link href="poorstory_style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- page #1 -->
<a href="../status_index.html">Status Board</a>
<a href="../devs_index.html">Devs Board</a>

<h1>Story #{{story.id}}</h1>
<div class="page">

	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Title</div>
			<div class="text" style="height:14mm;">{{ story.title }}</div>	
		</div>
	</div>

	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Description</div>
			<div class="text" style="height:68mm;">
				{% for para in story.description.split("\n") %}
					<p class="text">{{ para }}</p>
				{% endfor %}
			</div>	
		</div>
	</div>
	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Dependency</div>
			<div class="text" style="height:20mm;">
				{% for para in story.dependency.split("\n") %}
					<p class="text">{{ para }}</p>
				{% endfor %}
			</div>	
		</div>
	</div>

	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Reference</div>
			<div class="text" style="height:6mm;">{{ story.reference }}</div>	
		</div>
	</div>

	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Devs</div>
			<div class="text" style="height:6mm;">
				{% if story.task1.split(',')[2]|int > 0 and story.task1.split(',')[4] != "dev" %}
					{{ story.task1.split(',')[4] }}
				{% endif %}
				{% if story.task2.split(',')[2]|int > 0 and story.task2.split(',')[4] != "dev" %}
					{{ story.task2.split(',')[4] }}
				{% endif %}
				{% if story.task3.split(',')[2]|int > 0 and story.task3.split(',')[4] != "dev" %}
					{{ story.task3.split(',')[4] }}
				{% endif %}
				{% if story.task4.split(',')[2]|int > 0 and story.task4.split(',')[4] != "dev" %}
					{{ story.task4.split(',')[4] }}
				{% endif %}
				{% if story.task5.split(',')[2]|int > 0 and story.task5.split(',')[4] != "dev" %}
					{{ story.task5.split(',')[4] }}
				{% endif %}
				{% if story.task6.split(',')[2]|int > 0 and story.task6.split(',')[4] != "dev" %}
					{{ story.task6.split(',')[4] }}
				{% endif %}
				{% if story.task7.split(',')[2]|int > 0 and story.task7.split(',')[4] != "dev" %}
					{{ story.task7.split(',')[4] }}
				{% endif %}
                        </div>	
		</div>
	</div>

	<div class="line">			
		<div class="info" style="width:10%;">
			<div class="key">Id</div>
			<div class="number">{{ story.id }}</div>	
		</div>
		<div class="info" style="width:23%;">
			<div class="key">Status</div>
			<div class="number">{{story.status}}</div>	
		</div>
		<div class="info" style="width:7%;">
			<div class="key">Value</div>
			<div class="number">{{ story.value }}</div>	
		</div>
		<div class="info" style="width:52%;">
			<div class="key">Spare</div>
			<div class="number"> </div>	
		</div>
	</div>

</div>
	
<!-- page #2 -->
<div class="page">
	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Acceptance Criteria 1</div>
			<div class="text" style="height:20mm;">
				{% for para in story.acceptance_criteria_1.split("\n") %}
					<p class="text">{{ para }}</p>
				{% endfor %}	
			</div>	
		</div>
	</div>

	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Acceptance Criteria 2</div>
			<div class="text" style="height:20mm;">
				{% for para in story.acceptance_criteria_2.split("\n") %}
					<p class="text">{{ para }}</p>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Acceptance Criteria 3</div>
			<div class="text" style="height:20mm;">
				{% for para in story.acceptance_criteria_3.split("\n") %}
					<p class="text">{{ para }}</p>
				{% endfor %}
			</div>	
		</div>
	</div>

	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Acceptance Criteria 4</div>
			<div class="text" style="height:20mm;">
				{% for para in story.acceptance_criteria_4.split("\n") %}
					<p class="text">{{ para }}</p>
				{% endfor %}
			</div>	
		</div>
	</div>

	<div class="line">			
		<div class="info" style="width:23%;">
			<div class="key">Work Left 1</div>
			<div class="number">{{ story.size_1 }}</div>	
		</div>
		<div class="info" style="width:23%;">
			<div class="key">Work Left 2</div>
			<div class="number">{{ story.size_2 }}</div>	
		</div>
		<div class="info" style="width:23%;">
			<div class="key">Work Left 3</div>
			<div class="number">{{ story.size_3 }}</div>	
		</div>
		<div class="info" style="width:23%;">
			<div class="key">Work Left 4</div>
			<div class="number">{{ story.size_4 }}</div>	
		</div>
	</div>

	<div class="line">			
		<div class="info" style="width:23%;">
			<div class="key">Work Done 1</div>
			<div class="number">{{ story.size_1 }}</div>	
		</div>
		<div class="info" style="width:23%;">
			<div class="key">Work Done 2</div>
			<div class="number">{{ story.size_2 }}</div>	
		</div>
		<div class="info" style="width:23%;">
			<div class="key">Work Done 3</div>
			<div class="number">{{ story.size_3 }}</div>	
		</div>
		<div class="info" style="width:23%;">
			<div class="key">Work Done 4</div>
			<div class="number">{{ story.size_4 }}</div>	
		</div>
	</div>

	<div class="line">
		<div class="info" style="width:98%;">
			<div class="key">Comment</div>
			<div class="text" style="height:25mm;">
				{% for para in story.comment.split("\n") %}
					<p class="text">{{ para }}</p>
				{% endfor %}
			</div>	
		</div>
	</div>
	
</div>

<!-- page clear -->
<div class="clear">
</div>
	
</body>
</html>
