<!DOCTYPE html>
<html lang="de">
<head>
	<title>Tiger Devs Backlog Board</title>
	<meta charset="utf-8"/>
	<link href="poorindex_style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<a href="status_index.html">| To Status Board |</a>

<div class="content">
	<h1>Tiger Devs Backlog Board<h1>
	<p>This page shows the devs and the stories allocated in the product backlog. Click to open!</p>

	<p>A story may be allocated to several developers in <b>commited</b>, <b>ANALYSING</b> and <b>SPRINTING</b> for different tas to be worked in parallel or in seriel.</p>

	{% for dev, links in index.items() %}
		<div class="status">
			<h2>{{dev}}<h2>
			<ul>
			{% for link in links %}
				<li><a href="{{link[1]}}">{{link[0]}}</a></li>
			{% endfor %}
			</ul>
		</div>
	{% endfor %}

	<div class="clear">
	</div> 
</div>
</body>
</html>
