<!DOCTYPE html>
<html lang="de">
<head>
	<title>Tiger Status Backlog Board</title>
	<meta charset="utf-8"/>
	<link href="poorindex_style.css" rel="stylesheet" type="text/css"/>
</head>
<a href="devs_index.html">| To Devs Board |</a>

<div class="content">
	<h1>Tiger Status Backlog Board<h1>
	<p>This page shows the states of the stories by their <i>id</i>s in the product backlog. Click to open!</p>

	{% for state, links in index.items() %}
		<div class="status">
			<h2>{{state}}<h2>
			<ul>
			{% for link in links %}
				<li><a href="{{link[1]}}">{{link[0]}}</a></li>
			{% endfor %}
			</ul>
		</div>
	{% endfor %}

	<div class="clear">
	</div> 
</div>
</body>
</html>
