body{
	#width: 960px;
	#height: 960px;

	font-size: 10px;
	font-family: Helvetica, Sans-serif;
}

h1{
	font-size: 24px;
	text-align: left;	
}

div.page{
	background-color:whitesmoke;

	box-sizing: border-box;

	width: 105.0mm;
	height: 148.5mm;
	#width: 500px;
	#height:724px;

	margin:1mm 1mm;
	
	float: left;

	border: solid 1px black;		

}

div.line{
	#margin: 0 0 0 0;
	margin-top:1mm;
	margin-left: 1mm;
	margin-right:1mm;
	
	box-sizing: border-box;
	
	width: 98%;
	#width: 105.0mm;
	#height: auto;
	float:left;
	
	#border: solid 1px orange;			
}

div.info{
	margin-left: 1%;
	margin-right:1%;
	
	box-sizing: border-box;
		
	#width: 100%;
	
	float: left;
	#height: auto;
	
	#border: solid 1px magenta;		
}

div.key{
	margin: 0 0 0 0;

	background-color:whitesmoke;

	width: 100%;

	font-size: 10px;
	font-style: oblique;
}

div.text{
	#margin: 0 0 0 0;

	box-sizing: border-box;
	
	background-color:wheat;

	padding: 1mm;

	font-size: 12px;

	#height: 90%;

	#border: solid 1px blue;
}

div.number{
	#margin: 0 0 0 0;
	margin-right: 1%
	margin-right: 1%

	box-sizing: border-box;

	background-color:wheat;
	
	#margin-right: 1mm;

	padding: 1mm;

	height: 3mm;

	font-size: 12px;
	
	#border: solid 1px red;			
}

div.clear{
	clear: both;
}

p.text{
	margin-top: 0px;

	font-size: 12px;

}